body {
    background-color: #f9f9f9;
    font-family: 'Arial', sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://cloudfront-us-east-1.images.arcpublishing.com/estadao/GGMZGJIVDRC3LCAFDE2O5H5KMI.jpeghttps://s2.best-wallpaper.net/wallpaper/1600x900/1909/Morning-lake-light-purple-sky_1600x900.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 48px;
    color: #333;
    margin-bottom: 30px;
}

.buttons {
    margin-top: 30px;
}

button {
    margin: 10px;
    padding: 15px 30px;
    font-size: 24px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #FFC300;
    color: #fff;
}

#botaoNao {
    background-color: #E74C3C;
    position: absolute; /* Adicionando posição absoluta */
}

#botaoSim {
    background-color: #2ECC71;
}